<!DOCTYPE html>
<html lang="ua" encoding="utf-8">
    <head>
        <title>Міста-Герої України - Фортеці незламного духу</title>
    </head>
    <body>
        <h1>Міста-Герої України - Фортеці незламного духу</h1>
        <ul>
            <li>Харків</li>
            <li>Херсон</li>
            <li>Миколаїв</li>
            <li>Чернігів</li>
            <li>Маріуполь</li>
            <li>Буча</li>
            <li>Ірпінь</li>
            <li>Гостомель</li>
            <li>Охтирка</li>
            <li>Волноваха</li>
        </ul>
    </body>
</html>